{% extends "base.html"%}
{% block title%}
APPLICANTS
{% endblock %}

{% block content %}
<p>{{job}}</p>
<hr>
{% for application in applications%}
    <p>{{application.user.id}}</p>
    <p>{{application.applicant.username}}</p>
    <p>{{application.email}}</p>
    <p>{{application.job}}</p>
    <p>{{application.applied_at}}</p>
    <p>{{application.status}}</p>
    <a href="{{ application.resume.file.url }}" target="_blank">
        {{application.resume}}
    </a>
    <form method="post" action="{% url 'update_application' application.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">
            CHANGE
        </button>
    </form>

    <hr>

{% empty %}
    <p>there is no one</p>
{% endfor %}
{% endblock %}